.container {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(
        rgba(255, 255, 255, 0.3),
        rgba(255, 255, 255, 0.3)
        ),
        url("https://images.pexels.com/photos/4065137/pexels-photo-4065137.jpeg?cs=srgb&dl=pexels-cottonbro-4065137.jpg&fm=jpg")
        center;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
}

.wrapper {
    width: 25%;
    padding: 20px;
    background-color: white;
}

h1 {
    margin: 10px;
    padding-bottom: 10px;
}

input {
    width: 72%;
}

button {
    margin: 10px;
}