.container {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(
        rgba(17, 17, 17, 0.6),
        rgba(17, 17, 17, 0.6)
        ),
        url("https://images.pexels.com/photos/4065133/pexels-photo-4065133.jpeg?cs=srgb&dl=pexels-cottonbro-4065133.jpg&fm=jpg")
        no-repeat center center fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
}

.wrapper {
    width: 25%;
    padding: 20px;
    background-color: white;
}

h1 {
    margin: 10px;
    padding-bottom: 10px;
}

input {
    width: 72%;
}

button {
    margin: 10px;
}